#global-nav-buttons {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 6px;
  background: rgba(0, 0, 0, 0.7);
  padding: 6px 8px;
  border-radius: 10px;
  z-index: 999999;
  cursor: move; /* show drag cursor */
  border-radius: 20px;
  opacity: 0.5;
}
#global-nav-buttons:hover {
  opacity: 1;
}

.global-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: rgba(120,120,120,.2);
  border: 1px solid rgba(120,120,120,.3);
  color: #ffffff7a;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.global-nav-btn:hover {
  background: rgba(120,120,120,.3);
  border: 1px solid rgba(120,120,120,.4);
  transform: scale(1.05);
}
.global-nav-btn:active {
  background: rgba(120,120,120,.4);
  border: 1px solid rgba(120,120,120,.5);
  transform: scale(0.95);
}